body{
  /* background:
  radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #009dc4;
  background-size:75px 100px;
  background-attachment: fixed; */
  background-color: #e8fbff;
}


/* body{
  background-color: #009dc4;
} */
.newNft-card{
  width: 350px
}
.newNft-holder {
  width: 370px;
  height: 500px;
  min-height: 500px;
  position: relative;
  border-radius: 60px;
}
.newNft-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 60px;
}

.stake-holder {
  width: 100%;
  height: 350px;
  min-height: 350px;
  position: relative;
  /* border-radius: 5px; */
}
.stake-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  /* border-radius: 5px; */
}


.homeNft-holder {
  width: 350px;
  height: 350px;
  min-height: 350px;
  position: relative;
  border-radius: 5px;
}
.homeNft-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.logo-holder {
  width: 40px;
  height: 40px;
  min-height: 40px;
  position: relative;
  border-radius: 200px;
}
.logo-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.partner-holder {
  width: 80px;
  height: 80px;
  min-height: 80px;
  position: relative;
  border-radius: 200px;
}
.partner-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}


.cover-holder {
  width: 100%;
  height: 90vh;
  min-height: 90vh;
  position: relative;
  /* border-radius: 200px; */
}
.cover-img{
  height: 100%;
  align-items: center;
  position: relative;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* border-radius: 100%; */
}

.partners-holder {
  width: 100%;
  height: 15vh;
  min-height: 15vh;
  position: relative;
  border-radius: 60px;
}
.partners-img{
  height: 100%;
  align-items: center;
  position: relative;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  border-radius: 60px;
}


.logo{
  color: black;
  font-size: 28px;
}

.text-sea{
  color: #009dc4;
}

.border-sea{
  border-color: #009dc4;
}

.bg-sea{
  background-color: #009dc4;
}

.bg-sea-transparent{
  background-color: #009dc4b4;
}

.bg-light-transparent{
  background-color: rgba(255, 255, 255, 0.795);
}

.btn-outline-sea{
  background-color: white;
  color: #009dc4;
  border-color: #009dc4;
}

.btn-outline-sea:hover{
  background-color: #009dc4;
  color: white;
  border-color: #009dc4;
}


.btn-outline-light:hover{
  color: #009dc4;
} 

h1,h2,h3,h4,h5,h6,p, .sea-text,.logo{
  font-family: "Poppins";
}

.logo{
  font-family: "Niconne";
}

p{
  /* font-family: "Mulish"; */
  font-size: 18px;
}

@keyframes ldio-okog2r8atk9 {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.ldio-okog2r8atk9 > div > div {
  position: absolute;
  border-radius: 50%;
}
.ldio-okog2r8atk9 > div > div:nth-child(1) {
  top: 30px;
  left: 30px;
  width: 140px;
  height: 140px;
  background: black;
}
.ldio-okog2r8atk9 > div > div:nth-child(2) {
  top: 39.800000000000004px;
  left: 79px;
  width: 42px;
  height: 42px;
  background: #ffffff;
  animation: ldio-okog2r8atk9 1s linear infinite;
  transform-origin: 21px 60.199999999999996px;
}
.loadingio-spinner-disk-oye5bprn4hd {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-okog2r8atk9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-okog2r8atk9 div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.bg-ai{
  background-image: linear-gradient(to right, #429aa6, #835f51 , #9f4159);
}

.pp-holder {
  width: 100px;
  height: 100px;
  min-height: 100px;
  position: relative;
  border-radius: 200px;
}

.pp-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.scaled-bg{
  background:
  radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255, 255, 255, 0.3) 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #009dc4;
  background-size:75px 100px;
  /* background-attachment: fixed; */
}

.scaled-bg2{
  background-color:white ;
  background-image:
  radial-gradient(circle at 100% 150%, white 24%, #009dc4 24%, #009dc4 28%, white 28%, white 36%, #009dc4 36%, #009dc4 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, white 24%, #009dc4 24%, #009dc4 28%, white 28%, white 36%, #009dc4 36%, #009dc4 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #009dc4 10%, white 10%, white 23%, #009dc4 23%, #009dc4 30%, white 30%, white 43%, #009dc4 43%, #009dc4 50%, white 50%, white 63%, #009dc4 63%, #009dc4 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #009dc4 5%, white 5%, white 15%, #009dc4 15%, #009dc4 20%, white 20%, white 29%, #009dc4 29%, #009dc4 34%, white 34%, white 44%, #009dc4 44%, #009dc4 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, #009dc4 5%, white 5%, white 15%, #009dc4 15%, #009dc4 20%, white 20%, white 29%, #009dc4 29%, #009dc4 34%, white 34%, white 44%, #009dc4 44%, #009dc4 49%, transparent 49%, transparent);
  background-size: 100px 50px;
  /* background-attachment: fixed; */
}