body{
  background:
  radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #009dc4;
  background-size:75px 100px;
  background-attachment: fixed;
}


/* body{
  background-color: #009dc4;
} */
.newNft-card{
  width: 350px
}
.newNft-holder {
  width: 370px;
  height: 500px;
  min-height: 500px;
  position: relative;
  border-radius: 5px;
}
.newNft-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.stake-holder {
  width: 100%;
  height: 350px;
  min-height: 350px;
  position: relative;
  /* border-radius: 5px; */
}
.stake-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  /* border-radius: 5px; */
}


.homeNft-holder {
  width: 350px;
  height: 350px;
  min-height: 350px;
  position: relative;
  border-radius: 5px;
}
.homeNft-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.logo-holder {
  width: 40px;
  height: 40px;
  min-height: 40px;
  position: relative;
  border-radius: 200px;
}
.logo-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.partner-holder {
  width: 60px;
  height: 60px;
  min-height: 60px;
  position: relative;
  border-radius: 200px;
}
.partner-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}


.cover-holder {
  width: 100%;
  height: 80vh;
  min-height: 80vh;
  position: relative;
  /* border-radius: 200px; */
}
.cover-img{
  height: 100%;
  align-items: center;
  position: relative;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* border-radius: 100%; */
}


.logo{
  color: #009dc4;
  font-size: 28px;
}

.text-sea{
  color: #009dc4;
}

.border-sea{
  border-color: #009dc4;
}

.bg-sea{
  background-color: #009dc4;
}

.bg-sea-transparent{
  background-color: #009dc4b4;
}

.btn-outline-sea{
  background-color: white;
  color: #009dc4;
  border-color: #009dc4;
}

.btn-outline-sea:hover{
  background-color: #009dc4;
  color: white;
  border-color: #009dc4;
}


.btn-outline-light:hover{
  color: #009dc4;
} 

h2,h3,h4,h5,h6, .sea-text,.logo{
  font-family: "Lilita One";
}

p{
  font-family: "Mulish";
  font-size: 18px;
}